<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

    <div [hidden]="dish || errorMessage" fxFlex>
      <mat-spinner></mat-spinner> <h4>Loading... Please wait</h4>
    </div>
    <div *ngIf="errorMessage" fxFlex>
      <h2>Error</h2>
      <h4>{{ errorMessage }}</h4>
    </div>

  <div fxFlex="40" *ngIf="dish">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{ dish.name | uppercase }}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="baseURL + dish.image" [alt]="dish.name">
      <mat-card-content>
        <p>{{ dish.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <button mat-button [routerLink]="['/dishdetail', next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish">
    <h3>Comments</h3>
    <mat-list>
      <mat-list-item *ngFor="let comment of dish.comments">
        <p matLine>{{ comment.comment }}</p>
        <p matLine>{{ comment.rating }} Stars</p>
        <p matLine>-- {{ comment.author }} {{ comment.date | date }}</p>
      </mat-list-item>
      <mat-list-item *ngIf="commentForm.valid">
        <p matLine>{{ commentForm.get('comment').value }}</p>
        <p matLine>{{ commentForm.get('rating').value }} Stars</p>
        <p matLine>-- {{ commentForm.get('author').value }}</p>
      </mat-list-item>
    </mat-list>

    <form novalidate fxLayout="column" fxFlex="0 0 0%"
      fxLayoutGap="5px" [formGroup]="commentForm" (ngSubmit)="onSubmitComment()">
      <mat-input-container [dividerColor]="formErrors.author ? 'warn' : 'primary'">
        <input matInput type="text" formControlName="author" placeholder="Name" required>
        <mat-hint>
          <span [hidden]="!formErrors.author">{{ formErrors.author }}</span>
        </mat-hint>
      </mat-input-container>
      <div matLine>
        <mat-slider formControlName="rating" thumbLabel
          min="1" max="5" step="1" value="5" tickInterval="1">
        </mat-slider>
      </div>
      <mat-input-container [dividerColor]="formErrors.comment ? 'warn' : 'primary'">
        <textarea matInput formControlName="comment" placeholder="Your Comment" rows="3"></textarea>
        <mat-hint>
          <span [hidden]="!formErrors.comment">{{ formErrors.comment }}</span>
        </mat-hint>
      </mat-input-container>
      <div matLine>
        <button type="submit"
          mat-button class="background-primary text-floral-white"
          [disabled]="commentForm.invalid">
          Submit
        </button>
      </div>
    </form>
  </div>

</div>